<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Tasks</title>
    <link href="../icon/2199111_add_create_new_plus_icon.png" rel="icon">
    <link href="../imports/fontawesome-free-5.15.3-web/css/all.min.css" rel="stylesheet">
    <link href="../imports/bootstrap.min.css" rel="stylesheet">
    <link href="../css/insert.css" rel="stylesheet">
    <script src="../js/insert.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/entity.js"></script>
</head>
<body>
<header class="">

    <h1 class="text-white text-center m-4">Add Task</h1>
    <div class="text-center mb-4"><a href="../../index.html" onclick="location.reload()" class="text-center rounded bg-light border p-1 mb-5"><i class="fas fa-home"></i></a></div>
</header>
<main class="mb-4">
    <div class="col-7 m-auto border rounded p-4">
        <form id="form" method="Get">
            <div class="d-flex">
                <div class="form-group col-6">
                    <label class="text-white" for="taskId">Task ID</label>
                    <input autofocus class="form-control necessary-input" id="taskId" name="taskId" required
                           type="number">
                </div>
                <div class="form-group col-6">
                    <label class="text-white" for="taskTitle">Task Title</label>
                    <input class="form-control necessary-input" id="taskTitle" name="title" required type="text">
                </div>
            </div>
            <div class="form-group col-12">
                <label class="text-white" for="taskDescription">Description</label>
                <textarea class="form-control" id="taskDescription" name="description" rows="9" type="text"></textarea>
            </div>
            <div class="d-flex justify-content-center">
                <button type="button" onclick="sendInformation()" class="btn btn-default btn-link btn-success text-decoration-none text-white mr-2">Submit</button>
                <button type="button" onclick="redirectTasksPage()" class="btn btn-link btn-warning text-decoration-none text-white">
                    See All Tasks
                </button>
            </div>
        </form>
    </div>
    <div id="successSnackbar"><p class="text-center bg-success rounded text-white p-2">Task is successfully saved!</p></div>
    <div id="failedSnackbar"><p class="text-center bg-danger rounded text-white p-2">Task isn't saved successfully!</p></div>
</main>
</body>
</html>