<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Tasks</title>
    <link href="../icon/2199111_add_create_new_plus_icon.png" rel="icon">
    <link href="../imports/bootstrap.min.css" rel="stylesheet">
    <link href="../css/insert.css" rel="stylesheet">
</head>
<body>
<header>
    <h1 class="text-white text-center m-4">Add Task</h1>
</header>
<main>
    <div class="col-7 m-auto border rounded p-4">
        <form id="form" method="Get">
            <div class="d-flex">
                <div class="form-group col-6">
                    <label class="text-white" for="taskId">Task ID</label>
                    <input autofocus class="form-control necessary-input" id="taskId" name="taskId" required
                           type="number">
                </div>
                <div class="form-group col-6">
                    <label class="text-white" for="taskTitle">Task Title</label>
                    <input class="form-control necessary-input" id="taskTitle" name="title" required type="text">
                </div>
            </div>
            <div class="form-group col-12">
                <label class="text-white" for="taskDescription">Description</label>
                <textarea class="form-control" id="taskDescription" name="description" rows="4" type="text"></textarea>
            </div>
            <div class="d-flex justify-content-center">
                <button type="button" onclick="sendInformation()" class="btn btn-link btn-success text-decoration-none text-white">
                    Submit
                </button>
            </div>
        </form>
    </div>
</main>
<script>
    function sendInformation() {
        let taskId = document.getElementById('taskId').value;
        let title = document.getElementById('taskTitle').value;
        let description = document.getElementById('taskDescription').value;
        let req = 'http://localhost:8081/tasks/manageTasks/register?taskId=' + taskId + '&title=' + title + '&description=' + description;
        let http;
        if (navigator.appName === "Microsoft Internet Explorer") {
            http = new ActiveXObject("Microsoft.XMLHTTP");
        } else {
            http = new XMLHttpRequest();
        }
        http.open("GET", req, true);
        http.send();
        http.onreadystatechange = function () {
            if (http.readyState === 4 ) {
                if (http.status===200) {
                    http.responseText;
                    location.replace("/TaskWeb/view/taskManagement.html");
                }
                else {
                    alert("Not successful!")
                }
            }
        }
    }
</script>
</body>
</html>