<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <link href="../icon/tabIcon.png" rel="icon">
    <link href="../imports/bootstrap.min.css" rel="stylesheet">
    <link href="../css/tasks.css" rel="stylesheet">
</head>
<body>
<header>
    <h1 class="align-content-center m-5 text-white">Choose your activity</h1>
</header>
<main>
    <div class="d-flex flex-row pt-4 justify-content-around">
        <div class="border p-4 col-5 card">
            <div class="card-body">
                <h5 class="card-title">Add new Tasks</h5>
                <p class="mb-4 card-text">You can insert new tasks by task ID, task title or task Description</p>
                <a class="btn-danger text-center btn-link text-white p-2 text-decoration-none rounded"
                   href="insertTask.html"
                   role="button">Insert</a>
            </div>
        </div>
        <div class="border col-5 p-4 card">
            <div class="card-body">
                <h5 class="card-title">Update and delete tasks</h5>
                <p class="mb-4 card-text">You can see the list of tasks and update or delete tasks that are already existing</p>
                <a class="btn-primary card-link card-link text-center text-white text-decoration-none p-2 rounded"
                   href="taskManagement.html" role="button">oversee</a>
            </div>
        </div>
        <div>

        </div>
    </div>
</main>
</body>
</html>