body{
    background: linear-gradient(to bottom right, #004085,crimson) no-repeat fixed ;
}
table{
    overflow: auto;
}
i{
    cursor: pointer;
}

.modal{
    background-color: rgba(71, 78, 93,0.8);
    animation: fadein 0.25s;

}

@keyframes fadein {
    from{opacity: 0}
    to{opacity: 1}

}
