@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

body{
    background: linear-gradient(to bottom right, #004085,crimson) no-repeat fixed ;
}
table{
    overflow: auto;
}
i{
    cursor: pointer;
}

.modal{
    background-color: rgba(71, 78, 93,0.8);
    animation: fadein 0.25s;
    height: 100%;

}
nav{
    background-color: rgba(0,0,0,0.4);
}
@keyframes fadein {
    from{opacity: 0}
    to{opacity: 1}

}
